.FooterSection {
    padding: 0 0.4em 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .FooterCopyrightWrap {
        display: flex;
        flex-flow: column;
        .FooterCopyright {
            font-size: 0.9em;
            padding-bottom: 0.5em;
        }

        .FooterAttribution {
            p {
                font-size: 1em;
                padding: 0;
                text-decoration: underline;

                a {
                    color: $dark-blue;
                    font-size: 1.5em;
                    font-family: $Iceland;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }

    .FooterSocialWrap {
        a {
            color: $dark-blue;
            padding: 0 1em;
            border-right: 1px dashed $dark-blue;

            &:last-child {
                border-right: none;
            }
        }
    }
}
