.HeroWrap {
    position: relative;
    margin-top: 4em;
    display: flex;
    padding-right: 1em;
    

    .HeroBusinessName {
        position: absolute;
        top: 1.5em;
        right: -3.2em;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 1.2em;
        letter-spacing: 1px;
        font-weight: 300;
        opacity: 0.5;

        @media #{$mq-large} { 
            font-size: 1.5em;
        }

        @media #{$mq-xlarge} { 
            top: 2.5em;
            font-size: 2em;
        }
    }

    .HeroSwiperWrap {
        width: 50%;
        position: relative;

        .HeroProgressWrap {
            position: absolute;
            top: -1.25em;
            right: 0;
            display: flex;
            justify-content: space-between;
            width: 3em;
            font-size: 1.25em;

            .ProgressBreak {
                width: 1em;
                border-bottom: 0.05em solid $dark-blue;
                margin-bottom: 0.4em;

                @media #{$mq-medium} { 
                    border-bottom: 0.1em solid $dark-blue;
                }
            }
        }

        .HeroImageCaption {
            font-size: 1.25em;
            display: flex;
            justify-content: flex-end;
            padding-top: 0.4em;
        }
    }

    .SwiperSlide {
        height: 22.75em; 
        
        .HeroImage {
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            transition: 0.2s;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            &:hover {
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
            }
        }

        @media #{$mq-medium} { 
            height: 30em;
        }

        @media #{$mq-xlarge} { 
            height: 32em;
        }

        @media #{$mq-largest} { 
            height: 36em;
        }
    }

    .HeroCopyWrap {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-left: 2.75em;
        font-size: 1em;

        @media #{$mq-xlarge} { 
            width: 42em;
        }
    }
}
