.ProjectSection {
    
    .ProjectHero {
        height: 10em;

        .ProjectHeroImage {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @media #{$mq-medium} {
            height: 18em;
        }

        @media #{$mq-large} {
            height: 15em;
        }

        @media #{$mq-xlarge} {
            height: 23em;
        }
    }

    .ProjectContentWrap {
        padding: 1em;

        .ProjectSpecsWrap {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 1em;
            h5 {
                padding: 0 1em;

                &:last-child {
                    padding-right: 0;
                }
            }

            .ProjectSpecsBreak {
                border-right: 1px dashed $dark-blue;
            }
        }

        .ProjectTitle {
            margin-bottom: 0.5em;
        }

        .ProjectMasonryLayout {
           column-count: 1;
           column-gap: 5px;

            @media #{$mq-medium} {
                column-count: 3;
            }

            @media #{$mq-large} {
                column-count: 4;
            }

            .ProjectWrap {
                cursor: pointer;
                margin: 0;
                display: grid;
                grid-template-columns: 1fr auto;
                margin-bottom: 5px;
                break-inside: avoid;

                .ProjectMasonryImage {
                    max-width: 100%;
                    grid-row: 1/ -1;
                    grid-column: 1;
                    display: block;
                }
            }
        }
    }
}

.ProjectModalImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    max-width: 800px;
    max-height: 600px;

    @media #{$mq-medium} {
         width: 30em;
    }
}